<div id="budgettable">
  <h4>Budget</h4>
  <table class="table table-striped table-condensed table-hover">
    <tr><th>Category Group</th><th>Budgeted</th></tr>
    <tr *ngFor="let categoryGroup of categoryGroups"
      (click)="onClickCategoryGroup(categoryGroup)">
      <td>{{categoryGroup.name}}</td>
      <td align="right">
        <app-adjustable-number-badge
          [value]="categoryGroup.budgeted"
          [adjustByValue]=100
          (valueChangedByEvent)="onValueChange(categoryGroup,$event)">
        </app-adjustable-number-badge>
    </tr>
  </table>
  <span>To Be Budgeted </span>
  <span class="badge">${{toBeBudgeted}}</span>
</div>
<!--TODO: add property for 'selectedBudgetItem' and 'onClickBudgetItem' -->
<app-breakdown [categoryGroup]="selectedCategoryGroup"></app-breakdown>
