<div id="budgettable">
  <h4>Budget</h4>
  <table class="table table-striped table-condensed table-hover">
    <tr><th>Category Group</th><th>Budgeted</th></tr>
    <tr *ngFor="let budgetItem of budgetItems"
      (click)="onClickBudgetItem(budgetItem)">
      <td>{{budgetItem.category}}</td>
      <td align="right">
        <span class="glyphicon glyphicon glyphicon-download"
              (click)="onClickBudgeted(budgetItem, 'down')"></span>
        <span class="badge badge-success">${{budgetItem.budgeted}}</span>
        <span class="glyphicon glyphicon glyphicon-upload"
              (click)="onClickBudgeted(budgetItem, 'up')"></span></td>
    </tr>
  </table>
  <span>To Be Budgeted </span>
  <span class="badge">${{toBeBudgeted}}</span>
</div>
<!--TODO: add property for 'selectedBudgetItem' and 'onClickBudgetItem' -->
<app-breakdown [categoryGroup]="selectedBudgetItem.category" [budgetItems]="selectedBudgetItem.subCategoryBudgetItems"></app-breakdown>
